language: python
python:
  - "3.4"
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "3.6"
  - "3.6-dev" # 3.6 development branch
  - "3.7-dev" # 3.7 development branch
# command to install dependencies
install:
  - pip install -r requirements/test.txt

  - pip install mock==2.0
  - pip install -e .
# command to run tests
script:
  - pytest --cov=paystack
  - pytest --cov=django_paystack django_paystack/django_paystack
  