
<h2>{{bank_detail.name}}</h2> 
<h5><i>{{bank_detail.slug}}</i></h5>
<hr/>
<h4>code: {{bank_detail.code}}</h4>
<h4>longcode: {{bank_detail.longcode}}</h4>	
<h4>gateway: {{bank_detail.gateway}}</h4>
<h4>pay_with_bank: {{bank_detail.pay_with_bank}}</h4>
<h4>active: {{bank_detail.active}}</h4>
<h4>is_deleted: {{bank_detail.is_deleted}}</h4>
<h4>country: {{bank_detail.country}}</h4>
<h4>currency: {{bank_detail.currency}}</h4>
<h4>type: {{bank_detail.type}}</h4>
<h4>createdAt: {{bank_detail.createdAt}}</h4>
<h4>updatedAt: {{bank_detail.updatedAt}}</h4>